a {
    padding-left: 6px;
}
a:link{
    color: white;

    text-decoration:  none;
}
a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: whitesmoke;
    text-decoration:  none;
}
a:active{
    color: whitesmoke;
    text-decoration: none;
}
ul#menu li{
    display: inline;
    margin: 0;
    padding: 0;/*
    background-color: brown;
    overflow: hidden;
    float:left;*/
    color: white;
}
li {/*
    float: left;
    padding: 5px ;
}
div:hover p.v2{
    display:block;
}
p.v2{
    display: none;
}*/
footer{
    position: relative;
    bottom:2em;
}
/* div my version */
.cont-title{
background-color: teal;
border: none;
font-family: 'Courier New', Courier, monospace;
margin-inline-start: auto;
line-height: 20%;
}
.cont-radio{
    background-color: thistle;
    border: 1px solid;
    stroke-width: 10% ;

}
.cont-sum{
    background-color: thistle;
    border: 1px solid;
}
.cont-cont{
    background-color: thistle;
    text-align: center;
}

